.mdl-navigation .mdl-chip {
    display: none;
    margin-left: 5px;
}
.mdl-card {
    min-height: inherit;
}
.mdl-list__item {
    min-height: inherit;
    padding: 0px;
}
.mdl-button {
    min-width: inherit;
    padding: 0px 8px;
    text-align: left;
}
ul {
    margin: 0px;
    -webkit-padding-start: 0px;
}
ul li {
    list-style-type: none;
}
